<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentarios en: ¿Qué significa tener el certificado T1 de la SEC en mi edificio?	</title>
	<atom:link href="https://ocelec.cl/web/2023/03/01/que-significa-tener-el-certificado-t1-de-la-sec-en-mi-edificio/feed/" rel="self" type="application/rss+xml" />
	<link>https://ocelec.cl/web/2023/03/01/que-significa-tener-el-certificado-t1-de-la-sec-en-mi-edificio/</link>
	<description>Mantenimiento y certificación del sistema eléctrico en edificios residenciales.</description>
	<lastBuildDate>Wed, 01 Mar 2023 14:16:33 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2</generator>
</channel>
</rss>
