<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ocelec archivos - Ocelec</title>
	<atom:link href="https://ocelec.cl/web/category/ocelec/feed/" rel="self" type="application/rss+xml" />
	<link>https://ocelec.cl/web/category/ocelec/</link>
	<description>Mantenimiento y certificación del sistema eléctrico en edificios residenciales.</description>
	<lastBuildDate>Tue, 11 Apr 2023 15:15:43 +0000</lastBuildDate>
	<language>es</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2</generator>
	<item>
		<title>¿En qué consiste la Ley de Eficiencia Energética?</title>
		<link>https://ocelec.cl/web/2023/04/11/en-que-consiste-la-ley-de-eficiencia-energetica/</link>
					<comments>https://ocelec.cl/web/2023/04/11/en-que-consiste-la-ley-de-eficiencia-energetica/#respond</comments>
		
		<dc:creator><![CDATA[Ocelec]]></dc:creator>
		<pubDate>Tue, 11 Apr 2023 15:15:42 +0000</pubDate>
				<category><![CDATA[Ocelec]]></category>
		<guid isPermaLink="false">https://ocelec.cl/web/?p=504</guid>

					<description><![CDATA[<p>La entrada <a rel="nofollow" href="https://ocelec.cl/web/2023/04/11/en-que-consiste-la-ley-de-eficiencia-energetica/">¿En qué consiste la Ley de Eficiencia Energética?</a> se publicó primero en <a rel="nofollow" href="https://ocelec.cl/web">Ocelec</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<figure class="wp-block-video"><video controls src="https://ocelec.cl/web/wp-content/uploads/2023/04/eficiencia-energetica.mp4"></video></figure>
<p>La entrada <a rel="nofollow" href="https://ocelec.cl/web/2023/04/11/en-que-consiste-la-ley-de-eficiencia-energetica/">¿En qué consiste la Ley de Eficiencia Energética?</a> se publicó primero en <a rel="nofollow" href="https://ocelec.cl/web">Ocelec</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://ocelec.cl/web/2023/04/11/en-que-consiste-la-ley-de-eficiencia-energetica/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		<enclosure url="https://ocelec.cl/web/wp-content/uploads/2023/04/eficiencia-energetica.mp4" length="10619372" type="video/mp4" />

			</item>
	</channel>
</rss>
