<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comentarios en: ¿Qué medidas está implementando Chile para favorecer la Eficiencia Energética?	</title>
	<atom:link href="https://ocelec.cl/web/2023/03/22/que-medidas-esta-implementando-chile-para-favorecer-la-eficiencia-energetica/feed/" rel="self" type="application/rss+xml" />
	<link>https://ocelec.cl/web/2023/03/22/que-medidas-esta-implementando-chile-para-favorecer-la-eficiencia-energetica/</link>
	<description>Mantenimiento y certificación del sistema eléctrico en edificios residenciales.</description>
	<lastBuildDate>Wed, 22 Mar 2023 18:08:10 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2</generator>
</channel>
</rss>
