<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>admin, autor en Ocelec</title>
	<atom:link href="https://ocelec.cl/web/author/admin/feed/" rel="self" type="application/rss+xml" />
	<link>https://ocelec.cl/web/author/admin/</link>
	<description>Mantenimiento y certificación del sistema eléctrico en edificios residenciales.</description>
	<lastBuildDate>Tue, 09 Aug 2022 01:46:38 +0000</lastBuildDate>
	<language>es</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2</generator>
	<item>
		<title>Test blog 3</title>
		<link>https://ocelec.cl/web/2022/08/09/test-blog-3/</link>
					<comments>https://ocelec.cl/web/2022/08/09/test-blog-3/#respond</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Tue, 09 Aug 2022 01:46:31 +0000</pubDate>
				<category><![CDATA[Ocelec]]></category>
		<guid isPermaLink="false">https://ocelec.cl/web/?p=111</guid>

					<description><![CDATA[<p>Test blog 3</p>
<p>La entrada <a rel="nofollow" href="https://ocelec.cl/web/2022/08/09/test-blog-3/">Test blog 3</a> se publicó primero en <a rel="nofollow" href="https://ocelec.cl/web">Ocelec</a>.</p>
]]></description>
										<content:encoded><![CDATA[
<p>Test blog 3</p>
<p>La entrada <a rel="nofollow" href="https://ocelec.cl/web/2022/08/09/test-blog-3/">Test blog 3</a> se publicó primero en <a rel="nofollow" href="https://ocelec.cl/web">Ocelec</a>.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://ocelec.cl/web/2022/08/09/test-blog-3/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
